
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/font/inter/Inter-VariableFont_slnt,wght.ttfss">
    
    
</head>

<body>
    <header class="header">
        <div class="header__ls">
            
        </div>
        <div class="header__c">
            <a href="{{url_for('pages.index')}}">
            <div class="img__1__container">
             <img src="static/Group-1.svg" alt="" class="img__1">
          
                 <img src="static/Group.svg" alt="" class="img__2">
            </div>
            </a>
     </div>
        <div class="header__rs">
            <div class="login__container">
            
            </div>
        </div>

    </header>
   
    <main>
    <div class="main__container">
        <section class="section">
        <div class="description__section">
            <h1 class="sec__title">
                Validador de archivo de datos
            </h1>
            <h2 class="files__terms__description body2">
                Estimado usuario, en esta plataforma fue creada con la intención de validar la información proporcionada por usted. De manera tal, que los archivos proporcionados posean la información exacta que se requiere para el proyecto.
            
            </h2>
            <p class="body2">Los formatos de archivo que se aceptan son Excel (.xlsx) y Comma Separated Values (.csv)</p>
            <h3>El nombre de los archivos deben estar incluidos dentro de los siguientes.</h3>
            <ul>
                <li class="body3">mesas</li>
                <li class="body3">listas</li>
                <li class="body3">candidatos</li>
                <li class="body3">candidaturas</li>
                <li class="body3">mesas_certificados</li>
                <li class="body3">mesas_candidaturas_seguridad_trep</li>
            </ul>
            <p class="body2">Nota: No se aceptaran archivos que no posean alguno de estos nombres.</p>
            <h3>Cada uno de los archivos debe cumplir con las condiciones redactadas a continuación.</h3>
            <ul>
                <li class="body3">Con la excepción del archivo 'candidatos', el restante no debe poseer celdas de datos vacías.</li>
                <li class="body3">La cantidad de columnas dentro del archivo debe ser la requerida.</li>
                <li class="body3">El nombre de las columnas debe estar dentro de los nombres esperados, de manera ordenada o desordenada.</li>
                <li class="body3">La informacion dentro de la celda debe pertenecer al tipo de dato que se espera.</li>
            </ul>
            <h3>Composicion de los archivos</h3>
            <p class="body2">nombre de la columna : tipo de dato esperado</p>
            <p class="body2">mesas</p>
            <ul>
                <li class="body3">codeleccion: numeros</li>
                <li class="body3">deseleccion: palabras</li>
                <li class="body3">coddepartamento: numeros</li>
                <li class="body3">desdepartamento: palabras</li>
                <li class="body3">coddistrito: numeros</li>
                <li class="body3">desdistrito: palabras</li>
                <li class="body3">codzona: numeros</li>
                <li class="body3">deszona: palabras</li>
                <li class="body3">codlocal: numeros</li>
                <li class="body3">deslocal: palabras</li>
                <li class="body3">mesa: numeros</li>
                <li class="body3">tipo: palabras</li>
                <li class="body3">id_credencial: numeros</li>
                

            </ul>
            <p class="body2">listas</p>
            <ul>
                <li class="body3">COD_ELECCION: numeros</li>
                <li class="body3">CODLISTA: numeros</li>
                <li class="body3">DESCRIPCION: palabras</li>
                <li class="body3">DESCRIPCION_CORTA: palabras</li>
                <li class="body3">NUMLISTA: palabras </li>
                <li class="body3">NRO_ORDEN: numeros</li>
                
            </ul>
            
            <p class="body2">candidatos</p>
            <ul>
                <li class="body3">IDCANDIDATO: numeros</li>
                <li class="body3">CODCANDIDATURA: numeros</li>
                <li class="body3">CODELECCION: numeros</li>
                <li class="body3">CODDEPARTAMENTO: numeros</li>
                <li class="body3">CODDISTRITO: numeros</li>
                <li class="body3">CODZONA: numeros</li>
                <li class="body3">CODLISTA: numeros</li>
                <li class="body3">ORDEN: numeros</li>
                <li class="body3">NOMBRE: palabras</li>
            </ul>
            
            <p class="body2">
               candidaturas 
            </p>
            <ul>
                <li class="body3">codcandidatura: numeros</li>
                <li class="body3">descripcion: palabras</li>
                <li class="body3">nivel: palabras</li>
                <li class="body3">nro_orden: numeros</li>
                <li class="body3">tipo: numeros</li>
                <li class="body3">descripcion_corta:  palabras</li>
            </ul>
            
            <p class="body2">mesas_certificados</p>
            <ul>
                <li class="body3">codeleccion: numeros</li>
                <li class="body3">deseleccio: palabras</li>
                <li class="body3">codcandidatura: numeros</li>
                <li class="body3">descandida: palabras</li>
                <li class="body3">coddepartamento: numeros</li>
                <li class="body3">desdeparta: palabras</li>
                <li class="body3">coddistrito: numeros</li>
                <li class="body3">desdistrit: palabras</li>
                <li class="body3">codzona: numeros</li>
                <li class="body3">deszona: palabras</li>
                <li class="body3">codlocal: numeros</li>
                <li class="body3">deslocal: palabras</li>
                <li class="body3">mesa: numeros</li>
                <li class="body3">codseguridad: numeros</li>
                <li class="body3">ctx: numeros</li>
            </ul>

            <p class="body2">mesas_candidaturas_seguridad_trep</p>

            <ul>
                <li class="body3">codeleccio: numeros</li>
                <li class="body3">deseleccio: palabras</li>
                <li class="body3">cod_candid: numeros</li>
                <li class="body3">descandida: palabras</li>
                <li class="body3">coddeparta: numeros</li>
                <li class="body3">desdeparta: palabras</li>
                <li class="body3">coddistrit: numeros</li>
                <li class="body3">desdistrit: palabras</li>
                <li class="body3">codzona: numeros</li>
                <li class="body3">deszona: palabras</li>
                <li class="body3">codlocal: numeros</li>
                <li class="body3">deslocal: palabras</li>
                <li class="body3">mesa: numeros</li>
                <li class="body3">codseguridad: numeros</li>
                <li class="body3">ctx: numeros</li>
            </ul>

            
                                             
              
                                             
                                             
                                             
                                             
                                             
            
            
                              
                              
                             
                              
                              
                              
                              
                              
                              
                              
                              
                              
                              
                              
            
            
            
            
            
            
            
            
            
            
            
            <div class="btn__container">
            <a href="{{url_for('pages.validate')}}" class="entendido__btn">Entendido</a>
            </div>
        </div>
        
    </section> 
    </div>
    </main>
    <footer class="footer">
      
    </footer>
</body>

</html>