{% macro header %}
    
    <header class="header">
        <div class="header__ls">
            
        </div>
        <div class="header__c">
            <div class="img__1__container">
             <img src="static/Group-1.svg" alt="" class="img__1">
          
                 <img src="static/Group.svg" alt="" class="img__2">
            </div>
     </div>
        <div class="header__rs">
            <div class="login__container">
             <a href="">Log In</a>
            </div>
        </div>

    </header>




{% endmacro %}